.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}
.thumbnail{
    position: relative;
    img{
        width: 100%;
    }
}
.time{
    position: absolute;
    bottom: 0px;
    right: 0px;
    background: black;
    color: white;
    padding: 3px;
    margin: 10px;
    border-radius: 2px;
    font-size: 14px;
}
.video-grid{
    display: grid;
    grid-template-columns: 48px 1fr;
}
.propic{
    padding: 7px 10px 0px 3px;
    img{
        width: 36px;
        border-radius: 50%;
    }
}
.video-title{
    font-family: roboto;
    margin-top: 8px;
    font-weight: 500;
}
.status{
    color: gray;
    font-size: 8px;
}
.channel-name{
    color:gray ;
    font-size: 8px;
}
